body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    color: white;
    background-image: url("../images/background.jpg");
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
}

header {
    width: 100%;
    background-color: black;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    position: fixed;
    top: 0;
    z-index: 100;
    color: white;
}

.head-buttons {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.auth-buttons {
    list-style-type: none;
    margin: 60px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

.head-buttons li, .auth-buttons li {
    margin: 0 20px;
}

.head-buttons li a, .auth-buttons li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    width: 80px;
    height: 65px;
    background-color: black;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    font-size: 20px;
}

.head-buttons li a:hover, .auth-buttons li a:hover {
    background-color: darkorange;
    color: #fff;
}

a {
    color: white;
}

.about-content-wrapper, .home-content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 50px;
    border-top: 1px solid #dee2e6;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.header {
    display: table-header-group;
    font-weight: bold;
}

.header-cell {
    display: table-cell;
    width: 20%;
    padding: 12px;
    border-bottom: 2px solid #dee2e6;
}

.margin12 {
    margin: 12px 0px 12px 0px;
}

.form-label {
    font-weight: bold;
}

.form-input {
    margin: 12px 0px 12px 0px;
    width: 200px;
    height: 25px;
}

.form-error {
    color: #dc3545;
}

.btn-primary {
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    height: 30px;
}

.btn-danger {
    margin: 12px 6px 12px 0px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    height: 30px;
}

a.nav {
    margin: 6px 6px 6px 6px;
}

.label-error {
    color: red;
}

header button:hover, header input[type="submit"]:hover, .header-buttons button:hover,
.auth-buttons button:hover, .auth-buttons input[type="submit"]:hover, .auth-buttons a.button:hover {
    background-color: darkorange;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.post-feed {
    margin-top: 120px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 1000px;
    height: 650px;
    border: 5px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.new-post-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.new-post-button:hover {
    background-color: darkorange;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.post-container {
    max-height: 550px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 600px;
    width: 900px;
}

.post h2, .post p {
    color: black;
    margin: 0;
    padding: 0 10px;
}

.post-actions {
    display: flex;
    gap: 10px;
}

.post-actions a {
    color: black;
    text-decoration: none;
}

.post-actions a:hover {
    text-decoration: underline;
}

.login-frame, .registration-frame {
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin: 20px;
    width: 300px;
    text-align: center;
}

.create-post-frame, .update-post-frame {
    border: 2px solid white;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin: 20px;
    width: 600px;
    text-align: center;
}

.create-post-frame input, .update-post-frame input {
    width: 400px;
    height: 35px;
    margin: 12px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.create-post-frame textarea, .update-post-frame textarea {
    width: 400px;
    height: 150px;
    margin: 12px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button, input[type="submit"] {
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: darkorange;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.single-post-frame {
    border: 2px solid white;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 60px;
    width: 600px;
    height: calc(100vh - 160px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-post-frame h2, .single-post-frame h3 {
    color: white;
    margin: 10px 0;
}

.single-post-frame form {
    margin: 20px 0;
}

.single-post-frame input[type="text"], .single-post-frame textarea {
    width: 400px;
    height: 35px;
    margin: 12px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.single-post-frame input[type="submit"], .single-post-frame button {
    padding: 10px 20px;
    margin: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.single-post-frame input[type="submit"]:hover, .single-post-frame button:hover {
    background-color: darkorange;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.single-post-frame .comments {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-post-frame .comments p {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 90%;
}

.button-container {
    display: flex;
    gap: 10px;
}

.comments-container {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.comment {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.form-group textarea {
    flex-grow: 1;
}