<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>CryptoHive | About</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
</head>
<body>
<header>
    <header>
        <nav>
            <ul th:replace="~{HomeView :: headButtons}"></ul>
        </nav>
        <nav>
        <ul th:replace="~{HomeView :: authButtons}"></ul>
        </nav>
    </header>
</header>

<div class="about-content-wrapper">
    <h1>About CryptoHive</h1>
    <p>
        Welcome to CryptoHive, your go-to forum for all things cryptocurrency. Whether you're a seasoned trader,
        a blockchain developer, or just starting to explore the world of digital currencies,
        CryptoHive is the place for you. Our community is dedicated to sharing knowledge,
        discussing trends, and providing support for all aspects of the crypto space.
        Join us to stay updated on the latest news, participate in insightful discussions,
        and connect with like-minded enthusiasts. Together,
        we can navigate the exciting and ever-evolving world of cryptocurrencies.
    </p>
</div>

<footer>
    <small>©️ Copyright 2024, CryptoHive</small>
</footer>
</body>
</html>