<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>CryptoHive | Posts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
</head>
<body>
<header>
    <nav>
        <ul th:replace="~{HomeView :: headButtons}"></ul>
    </nav>
    <nav>
        <ul th:replace="~{HomeView :: authButtons}"></ul>
    </nav>
</header>

<div class="post-feed">
    <h2>Posts</h2>
    <div class="post-container">
        <div th:each="post : ${posts}" class="post">
            <h2 th:text="${post.title}"></h2>
            <p th:text="${post.content}"></p>
            <p>Author: <span th:text="${post.createdBy.username}"></span></p>
            <div class="post-actions">
                <a th:href="@{/posts/comments/{id}(id=${post.id})}">Comments</a>
                <a th:href="@{/posts/edit/{id}(id=${post.id})}">Edit</a>
                <a th:href="@{/posts/delete/{id}(id=${post.id})}">Delete</a>
            </div>
        </div>
    </div>
</div>

<footer>
    <small>©️ Copyright 2024, CryptoHive</small>
</footer>
</body>
</html>