<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>CryptoHive | Update Post</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
</head>
<body class="background">
<header>
    <nav>
        <ul th:replace="~{HomeView :: headButtons}"></ul>
    </nav>
    <nav>
        <ul th:replace="~{HomeView :: authButtons}"></ul>
    </nav>
</header>

<div class="update-post-frame" style="margin-top: 60px">
    <h1>Update Post</h1>

    <form th:replace="post-new.html :: post-form"></form>
</div>

<footer>
    <small>©️ Copyright 2024, CryptoHive</small>
</footer>
</body>
</html>