<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>CryptoHive | Posts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
</head>
<body>
<header>
    <nav>
        <ul th:replace="~{HomeView :: headButtons}"></ul>
    </nav>
    <nav>
        <ul th:replace="~{HomeView :: authButtons}"></ul>
    </nav>
</header>

<div class="post-feed">
    <div class="post-header">
        <h1 style="display: inline">Posts</h1>
        <a th:if="${isAuthenticated}" th:href="@{/posts/new}" class="new-post-button" style="display: inline">New Post</a>
    </div>
    <br/><br/>
    <div class="post-container">
        <div th:each="post : ${posts}" class="post">
            <h2 th:text="${post.title}"></h2>
            <p th:text="${post.content}"></p>
            <p>Author: <span th:text="${post.createdBy.username}"></span></p>
            <p>Posted on: <span th:text="${post.creationDate}"></span></p>
            <p>Likes: <span th:text="${post.likes.size()}"></span></p>
            <div class="post-actions">
                <form th:action="@{/posts/{id}/like(id=${post.id})}" method="post" style="display:inline">
                    <input type="hidden" name="_method" value="Like"/>
                    <input type="submit" value="Like" class="button"/>
                </form>
                <form th:action="@{/posts/{id}(id=${post.id})}" method="get" style="display: inline">
                    <button class="button" type="submit">Comments</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <small>©️ Copyright 2024, CryptoHive</small>
</footer>
</body>
</html>