<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
</head>
<body class="background">
<header>
    <header>
        <nav>
            <ul th:replace="~{HomeView :: headButtons}"></ul>
        </nav>
    </header>
</header>
<div class="registration-frame">
    <h1>Register</h1>
    <form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
        <label th:text="#{user.label.username}">Username</label>
        <br/>
        <input type="text" th:field="*{username}"/>
        <label class="error" th:errors="*{username}">Username Error Placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.password}">Password</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <label class="error" th:errors="*{password}">Password Error Placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.password-confirm}">Confirm Password</label>
        <br/>
        <input type="password" th:field="*{passwordConfirm}"/>
        <label class="error" th:errors="*{passwordConfirm}">Confirm Password Error Placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.first-name}">First Name</label>
        <br/>
        <input type="text" th:field="*{firstName}"/>
        <label class="error" th:errors="*{firstName}">First Name Error Placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.last-name}">Last Name</label>
        <br/>
        <input type="text" th:field="*{lastName}"/>
        <label class="error" th:errors="*{lastName}">Last Name Error Placeholder</label>
        <br/><br/>

        <label th:text="#{user.label.email}">Email</label>
        <br/>
        <input type="text" th:field="*{email}"/>
        <label class="error" th:errors="*{email}">Email Error Placeholder</label>
        <br/><br/>

        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a th:href="@{/auth/login}">Login</a></p>
</div>
</body>
</html>