<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>CryptoHive | Post</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
</head>
<body>
<header>
    <nav>
        <ul th:replace="~{HomeView :: headButtons}"></ul>
    </nav>
    <nav>
        <ul th:replace="~{HomeView :: authButtons}"></ul>
    </nav>
</header>

<div class="single-post-frame">

    <h1 th:text="${post.title}">Post Title</h1>
    <div class="scrollable-content">
        <h2 class="scrollable-content-text" th:text="${post.content}">Post Content</h2>
    </div>

    <div class="post-button-container">
        <form class="update-post-button" th:attr="data-id=${post.id}, data-title=${post.title}, data-content=${post.content}, data-creator-id=${post.createdBy.id}" style="display: inline">
            <button class="button" type="button">Update</button>
        </form>

        <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post" class="delete-post-button" th:attr="data-creator-id=${post.createdBy.id}" style="display:inline">
            <input type="hidden" name="_method" value="delete"/>
            <input type="submit" value="Delete" class="button"/>
        </form>
    </div>

    <div class="comments-feed">
        <h2>Comments</h2>
        <div class="comments-container">
            <div th:each="comment : ${post.comments}" class="comment">
                <p th:text="${comment.content}">Comment</p>
                <p>Author: <span th:text="${comment.createdBy.username}">Author</span></p>
                <p>Posted on: <span th:text="${comment.creationDate}">Date</span></p>
                <div class="comment-actions">
                    <a href="#editCommentModal" class="edit-comment-button" th:attr="data-id=${comment.id}, data-content=${comment.content}, data-creator-id=${comment.createdBy.id}">Edit</a>
                    <form th:action="@{/comments/{id}/delete(id=${comment.id})}" method="post" class="delete-comment-form" th:attr="data-creator-id=${comment.createdBy.id}" style="display:inline">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="submit" value="Delete" class="button"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="comment-form-container">
        <h3>Add a Comment</h3>
        <form th:action="@{/posts/{id}/comment(id=${post.id})}" th:object="${comment}" method="post">
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea id="content" th:field="*{content}" placeholder="Write your comment here"></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

</div>

<div id="updatePostModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Update Post</h3>
        <form id="updatePostForm" method="post">
            <div class="form-group">
                <label for="updateTitle">Title:</label>
                <textarea id="updateTitle" name="title" placeholder="Edit your post title here"></textarea>
            </div>
            <div class="form-group">
                <label for="updateContent">Content:</label>
                <textarea id="updateContent" name="content" placeholder="Edit your post content here"></textarea>
            </div>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</div>

<div id="editCommentModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Edit Comment</h3>
        <form id="editCommentForm" method="post">
            <div class="form-group">
                <label for="editContent">Content:</label>
                <textarea id="editContent" name="content" placeholder="Edit your comment here"></textarea>
            </div>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</div>

<footer>
    <small>©️ Copyright 2024, CryptoHive</small>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const editButtons = document.querySelectorAll('.edit-comment-button');
        const deleteCommentForms = document.querySelectorAll('.delete-comment-form');
        const updatePostButton = document.querySelectorAll('.update-post-button');
        const deletePostButton = document.querySelectorAll('.delete-post-button');
        const commentModal = document.getElementById('editCommentModal');
        const postModal = document.getElementById('updatePostModal');
        const closeCommentModal = commentModal.querySelector('.close');
        const closePostModal = postModal.querySelector('.close');
        const editContent = commentModal.querySelector('#editContent');
        const updateTitle = postModal.querySelector('#updateTitle');
        const updateContent = postModal.querySelector('#updateContent');
        const editForm = commentModal.querySelector('#editCommentForm');
        const updateForm = postModal.querySelector('#updatePostForm');

        fetch('/comments/current-user-id')
            .then(response => response.json())
            .then(currentUserId => {
                fetch('/comments/current-user-roles')
                    .then(response => response.json())
                    .then(currentUserRoles => {
                        const rolesMap = new Map(Object.entries(currentUserRoles));

                        editButtons.forEach(button => {
                            const commentCreatorId = button.getAttribute('data-creator-id');
                            if (currentUserId == commentCreatorId) {
                                button.style.display = 'inline';
                            } else {
                                button.style.display = 'none';
                            }
                        });

                        deleteCommentForms.forEach(form => {
                            const commentCreatorId = form.getAttribute('data-creator-id');
                            if (currentUserId == commentCreatorId || rolesMap.get('isAdmin') || rolesMap.get('isModerator')) {
                                form.style.display = 'inline';
                            } else {
                                form.style.display = 'none';
                            }
                        });

                        updatePostButton.forEach(button => {
                            const postCreatorId = button.getAttribute('data-creator-id');
                            if (currentUserId == postCreatorId) {
                                button.style.display = 'inline';
                            } else {
                                button.style.display = 'none';
                            }
                        });

                        deletePostButton.forEach(button => {
                            const postCreatorId = button.getAttribute('data-creator-id');
                            if (currentUserId == postCreatorId || rolesMap.get('isAdmin') || rolesMap.get('isModerator')) {
                                button.style.display = 'inline';
                            } else {
                                button.style.display = 'none';
                            }
                        });
                    });
            });

        editButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const commentId = this.getAttribute('data-id');
                const commentContent = this.getAttribute('data-content');

                editContent.value = commentContent;
                editForm.setAttribute('action', `/comments/${commentId}/update`);
                commentModal.style.display = 'block';
            });
        });

        updatePostButton.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const postId = this.getAttribute('data-id');
                const postTitle = this.getAttribute('data-title');
                const postContent = this.getAttribute('data-content');

                updateTitle.value = postTitle;
                updateContent.value = postContent;
                updateForm.setAttribute('action', `/posts/${postId}/update`);
                postModal.style.display = 'block';
            });
        });

        closeCommentModal.addEventListener('click', function () {
            commentModal.style.display = 'none';
        });

        closePostModal.addEventListener('click', function () {
            postModal.style.display = 'none';
        });

        editForm.addEventListener('submit', function () {
            commentModal.style.display = 'none';
        });

        updateForm.addEventListener('submit', function () {
            postModal.style.display = 'none';
        });

        window.addEventListener('click', function (event) {
            if (event.target === commentModal) {
                commentModal.style.display = 'none';
            }
            if (event.target === postModal) {
                postModal.style.display = 'none';
            }
        });
    });
</script>
</body>
</html>