<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>CryptoHive | Post</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
</head>
<body class="background">
<header>
    <nav>
        <ul th:replace="~{HomeView :: headButtons}"></ul>
    </nav>
    <nav>
        <ul th:replace="~{HomeView :: authButtons}"></ul>
    </nav>
</header>

<div class="single-post-frame">
    <h1>Post</h1>


    <h2 th:text="${post.title}">Post Title</h2>
    <h3 th:text="${post.content}">Post Content</h3>

    <div class="post-button-container">
        <form th:action="@{/posts/{id}/update(id=${post.id})}" method="get" style="display: inline">
            <button class="button" type="submit">Update Post</button>
        </form>

        <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post" style="display:inline">
            <input type="hidden" name="_method" value="delete"/>
            <input type="submit" value="Delete" class="button"/>
        </form>
    </div>

    <div class="comments-feed">
        <h2>Comments</h2>
        <div class="comments-container">
            <div th:each="comment : ${post.comments}" class="comment">
                <p th:text="${comment.content}">Comment</p>
                <p>Author: <span th:text="${comment.createdBy.username}">Author</span></p>
                <p>Posted on: <span th:text="${comment.creationDate}">Date</span></p>
            </div>
        </div>
    </div>

    <form th:action="@{/posts/{id}/comment(id=${post.id})}" method="post">
        <label for="comment">Comment</label>
        <br/>
        <input type="text" id="comment" name="comment"/>
        <input type="submit" value="Comment"/>
    </form>

</div>
<footer>
    <small>©️ Copyright 2024, CryptoHive</small>
</footer>
</body>
</html>